body {
    background-color: blue;
}

.bigger {
    font-size: x-large;
    text-align: center;
    box-shadow: 10px 10px 5px 12px black;
}

.textarea {
    text-align: center
}

#kroger {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

#products {
    display: inline-flex;
    justify-content: left;

}

#services {
    display: inline-flex;
    justify-content: right;

}

#title {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#description {
    text-align: center;
    font-family: fantasy;
}

.middle {
    text-align: center;}
 .bigger{
     font-family: Arial, Helvetica, sans-serif;
 }   
 p{
     font-family: Arial, Helvetica, sans-serif;
 }